__pycache__
.idea
.vscode
.cache
venv
.DS_Store
*.log
*.log.*
*.pyc
*.swp
*.pid
~$*.xlsx
data/models/*.html
data/models/*.json
data/models/*.xls
data/models/*xlsx
data/scripts/*.py
data/sources/*.json
data/sources/*.xml
data/sources/*.xlsx
data/sources/*.xls
data/sources/*.csv
static/report_sheets/*.html
static/report_sheets/*.xls
static/report_sheets/*.xlsx
static/report_sheets/*.json