{% extends 'web/base.html' %}

{% block content %}
    <h1>Bootstrap-Flask Demo Application</h1>
<ul>
    <li><a href="{{ url_for('web_v1.test_form') }}">Form</a></li>
    <li><a href="{{ url_for('web_v1.test_nav') }}">Nav</a></li>
    <li><a href="{{ url_for('web_v1.test_pagination') }}">Pagination</a></li>
    <li><a href="{{ url_for('web_v1.test_flash') }}">Flash Messages</a></li>
    <li><a href="{{ url_for('web_v1.test_table') }}">Table</a></li>
    <li><a href="{{ url_for('web_v1.test_icon') }}">Icon</a></li>
</ul>
{% endblock %}